.preloader {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100vh;
    overflow: visible;
    background: rgba(0, 0, 0, 0.5)
}

.preloader .spinner {
    position: fixed;
    top: 48%;
    left: 48%
}

.preloader .spinner>div {
    width: 18px;
    height: 18px;
    background-color: #d6d6d6;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

.preloader .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s
}

.preloader .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}

.preloader .spinner>div {
    background-color: #fff !important
}
    
@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
