.Auth {
    background: rgb(98,136,234);
    background: -moz-linear-gradient(left, rgba(98,136,234,1) 0%, rgba(46,204,221,1) 100%);
    background: -webkit-linear-gradient(left, rgba(98,136,234,1) 0%,rgba(46,204,221,1) 100%);
    background: linear-gradient(to right, rgba(98,136,234,1) 0%,rgba(46,204,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6288ea', endColorstr='#2eccdd',GradientType=1 );
    width: 100%;
    height: 100vh;
}


h2{
    font-family: Etisalat;
    letter-spacing: 2px;
}
.loginPage {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 30px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


#formResponse{
    color: #FE3F3F;
    padding: 10px 0px;
    margin-bottom: 10px;
}

#formResponse.Green{
    color: Green;
}


.buttonGroup{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.buttonGroup button{
    width: 49%;
}

.buttonGroup a{
    width: 49%;
    line-height: 46px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    background: rgb(98,136,234);
    background: -moz-linear-gradient(left, rgba(98,136,234,1) 0%, rgba(46,204,221,1) 100%);
    background: -webkit-linear-gradient(left, rgba(98,136,234,1) 0%,rgba(46,204,221,1) 100%);
    background: linear-gradient(to right, rgba(98,136,234,1) 0%,rgba(46,204,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6288ea', endColorstr='#2eccdd',GradientType=1 );
}


.creditDiv{
    width: 100%;
    text-align: center;
}

.help-block{
    color: red;
    width: 100%;
    display: none;
    text-align: left;
    margin-bottom: 5px;
    font-family: Etisalat;
    font-size: 12px;
}

.has-error .help-block{
    display: block;
}


