.Review {
    padding: 20px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    height: 200px;
    border-radius: 8px;
    display: block;
}

.Review + .Review {
    margin-top: 20px;
}

.topDetails{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.topDetails > div{
    width:  30%;
    display: flex;
    flex-direction: column;
}

.topDetails div label{
    font-size: 12px;
    color: #a4aaac;
    font-weight: normal;
}

.topDetails div text{
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

.Review h1{
    font-size: 14px;
    font-weight: bold;
}

.Review p{
    color: #8d9396;
    font-size: 14px;
}